
body {
  background-color: #8e001b;
  padding: 0px 20px 20px 20px;

}

h1{
  font-weight: 1000;
  font-size: 3rem;
  line-height: 2rem;
  color: #ffffff;
  text-align:center
}

h2{
  font-weight: 1000;
  font-size: 2rem;
  line-height: 1rem;
  color: #2D2D2C;
  text-align:center
}

h3{
  font-weight: 1000;
  font-size: 1rem;
  line-height: 1rem;
  color: #2D2D2C;
  text-align:center
}


.tab {
  overflow: hidden;
  background-color: #2D2D2C;
}

.tablinks{
  font-weight: 600;
  font-size: 1rem;
  line-height: 2rem;
  color: #ffffff;
  text-align:center
}



.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: #cb4646;
}


.tab button.active {
  background-color: #702a2a;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #c5c5c5;
}